<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Умка</title>
    <link rel="icon" type="image/png" href="/img/logo-1.png" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
</head>

<body>
    <div class="container-fluid">
        <div id="header">
            <div class="row" id="menu">
                <div class="col-sm-6 p-3 "><img src="/img/logo.png" class="ml-auto p-4" alt="header"></div>
                <nav class="navbar navbar-toggleable-md ">
                    <ul class="nav navbar-nav custom_nav">
                        <li>
                            <div class="nav-item">
                                <div class="ml-auto p-4"><a href="#ex1">ПРИЛОЖЕНИЕ</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-item">
                                <div class="ml-auto p-4"><a href="#ex2">О ПРОЕКТЕ</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-item">
                                <div class="ml-auto p-4"><a href="#ex3">КОНТАКТЫ</a></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="container ">
                <div class="mb-auto p-5">
                    <div class="d-flex justify-content-center pb-5 mb-5 "><img src="/img/text logo.png" alt="header"></div>
                    <div class=" d-flex justify-content-center pb-5 mb-5 ">
                        <p class="header_text">Все специалисты в одном приложении</p>
                    </div>
                    <div class=" d-flex justify-content-center pb-5 mb-5 "><img src="/img/scroll pointer.png" alt="header"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="whatis">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="d-flex justify-content-center">
                            <div>
                                <img src="/img/1.png" class="img-fluid face  p-5" alt="what">
                            </div>
                        </div>
                    </div>
                        <div id="ex2"></div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p class="head_white pt-5 mt-5">ЧТО ТАКОЕ УМКА?</p>
                        </div>
                        <div>
                            <div class="text_white pt-5 mt-5 pb-5 mb-5">Приложение Умка позволяет Вам выбрать квалифицированного специалиста в нужной области - от репетиторов
                                по русскому языку до дизайнеров интерьера и автомехаников.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="comment">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="head_black pt-5 mt-5">ОТЗЫВЫ И РЕЙТИНГИ</div>
                        <div class="text_black pt-5 mt-5 pb-5 mb-5">В Умке реализована система отзывов и выставления оценок специалистам за проделанную работу. Мы публикуем
                            только реальные отзывы, чтобы Вы могли найти настоящих мастеров своего дела.</div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="d-flex justify-content-center">
                            <div>
                                <img src="/img/pic-2.png" class="img-fluid ml-5 p-5 pt-5 mt-5" alt="what">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="feedback">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <div>
                            <img src="/img/2.png" class="img-fluid ml-5 p-5 pb-5 mb-5" alt="what">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <p class="head_white pt-5 mt-5">БЫСТРАЯ СВЯЗЬ</p>
                        <p class="text_white pt-5 mt-5 pb-5 mb-5">Свяжитесь со специалистами напрямую без ожидания и посредников. Вы можете позвонить или написать
                            им прямо в приложении.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="geo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <p class=" head_black pt-2 mt-5">ГЕОТАРГЕТИНГ</p>
                        <p class=" text_black pt-5">Откройте карту и найдите специалистов поблизости</p>
                    </div>
                    <div class="col-md-6 ">
                        <img src="/img/map.png" class="img-fluid ml-5 p-5 pb-5 mb-5" alt="what">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="work">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <img src="/img/3.png" class="img-fluid ml-5 p-5 pb-5 mb-5" alt="what">
                    </div>
                    <div class="col-md-6  ">
                        <p class="head_white pt-5 mt-5">НУЖНА РАБОТА?</p>
                        <p class="text_white pt-5 mt-5 pb-5 mb-5">Регистрируйтесь бесплатно прямо в приложении, публикуйте портфолио и описания Ваших навыков, и клиенты
                            сами найдут Вас!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ex1"></div>
    <div class="container-fluid">
        <div id="app">
            <div class="container">
                <div class="d-flex justify-content-center ">
                    <p class="head_black p-4">ПРИЛОЖЕНИЕ УМКА</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div>
                        <img src="/img/logo-1.png" class=" img-fluid p-4" alt="what">
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div class="row d-flex justify-content-center">
                            <div>
                                <img src="/img/4.png" class="img-fluid p-3" alt="what">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="row d-flex justify-content-center">
                            <div>
                                <img src="/img/5.png" class="img-fluid  mr-3 p-3 pb-5 mb-5" alt="what">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="contact">
            <div class="container">
                <div id="ex3"></div>
                <div class="d-flex justify-content-center ">
                    <p class="head_white pt-5 pb-5 mb-5">КОНТАКТЫ</p>
                </div>
                <div class="d-flex justify-content-center p-5">
                    <p class="tel mt-5 pt-5 pb-5 mb-5">8 (953) 926-30-80</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div class="row d-flex justify-content-center">
                            <img src="/img/ic.png" class="img-fluid pt-3" alt="what">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="row d-flex justify-content-center pt-2">
                            <img src="/img/ic1.png" class="img-fluid " alt="what">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="row d-flex justify-content-center pt-2 mb-5">
                            <img src="/img/ic2.png" class="img-fluid" alt="what">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="footer">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6 pt-5 mt-5">
                        <p class="head_we pt-5 mt-5 "><a href="#ex1">ПРИЛОЖЕНИЕ</a></p>
                        <p class="head_we pt-4 mt-4 "><a href="#ex2">О ПРОЕКТЕ</a></p>
                        <p class="head_we pt-4 mt-4 "><a href="#ex3">КОНТАКТЫ</a></p>
                    </div>
                    <div class="col-md-6 pt-5 mt-5 ">
                        <div class="row d-flex justify-content-center pt-5 mt-5 ">
                            <p class="text_we">Мы в социальных сетях</p>
                            <div class="col-md-4 pt-5 mt-5">
                                <div class="row d-flex justify-content-center">
                                    <img src="/img/6.png" class="img-fluid pt-3" alt="what">
                                </div>
                            </div>
                            <div class="col-md-4 pt-5 mt-5 pl-2  ">
                                <div class="row d-flex justify-content-center">
                                    <img src="/img/7.png" class="img-fluid " alt="what">
                                </div>
                            </div>
                            <div class="col-md-4 pt-5 mt-5  ">
                                <div class="row d-flex justify-content-center ">
                                    <img src="/img/8.png" alt="what" class="img-fluid pr-4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-12 pt-5 mt-5">
                        <div class="row">
                            <div class="col-md-6 pt-5 mt-5">
                                <p class="text_we">© Умка</p>
                                <p class="text_we">Все права защищены</p>
                            </div>
                            <div class="col-md-6 pt-5 mt-5">
                                <div class="ml-5 mr-5">
                                    <img src="/img/logo1.png" alt="what" class="img-fluid  ">
                                    <img src="/img/text logo1.png" alt="what" class="img-fluid  ">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--SCRIPTS-->
    <script src="/js/1/jquery.min.js"></script>
    <script src="/js/1/tether.min.js"></script>
    <script src="/js/adminlte.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/backbone.marionette.min.js"></script>
    <script src="/js/backbone.radio.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.js"></script>
    <script src="/js/fastclick.js"></script>
    <script src="/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script src="/js/jscolor.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/underscore.js"></script>
    <!--SCRIPTS END-->
    <script>
        $(document).ready(function () {
            $("#menu").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({ scrollTop: top }, 1500);
            });

        });
    </script>
</body>

</html>